[Desktop Entry]
Type=Application
Name=Juicebox Plus
Comment=The companion app to juicebox² !
Exec=juicebox-plus
Icon=juicebox-plus
Categories=Utility;
